In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import scipy.stats as stats
from main import get_data

data, labels, continuous, discrete, dummy, categorical = get_data()

In [3]:
from sklearn.base import BaseEstimator, TransformerMixin, clone
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline


class ModelBasedColImputer(BaseEstimator, TransformerMixin):
    """
    Uses colname_nan to indicate which rows were nan
    """
    def __init__(self, column, model):
        self.column = column
        self.model = clone(model)

    def fit(self, X, y=None, **fit_params):
        without_na = X[~X[self.column + '_nan'].astype('bool')]
        without_target_col = without_na.drop([self.column, self.column + '_nan'], axis=1)
        self.model.fit(without_target_col, without_na[self.column])
        return self

    def transform(self, X):
        with_na = X[X[self.column + '_nan'].astype('bool')]
        without_target_col = with_na.drop([self.column, self.column + '_nan'], axis=1)
        X.loc[X[self.column + '_nan'].astype('bool'), self.column] = self.model.predict(without_target_col)
        return X

class ModelBasedImputer(BaseEstimator, TransformerMixin):
    def __init__(self, columns, model):
        self.columns = columns
        self.model = model

    def fit(self, X, y=None, **fit_params):
        imputers = [(col + '_imputer', ModelBasedColImputer(column=col, model=self.model)) for col in self.columns if col + '_nan' in X.columns]
        self.pipe = Pipeline(imputers)
        return self.pipe.fit(X, y)

    def transform(self, X):
        return self.pipe.transform(X)

In [13]:
df = data.drop('Product_Info_2', axis = 1).iloc[:20, :7].set_index('Id')

In [100]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Product_Info_1</th>
      <th>Product_Info_3</th>
      <th>Product_Info_4</th>
      <th>Product_Info_5</th>
      <th>Product_Info_6</th>
      <th>Product_Info_7</th>
    </tr>
    <tr>
      <th>Id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>33308</th>
      <td>NaN</td>
      <td>29</td>
      <td>0.230769</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>74812</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.076923</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23707</th>
      <td>1.0</td>
      <td>26</td>
      <td>NaN</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>668</th>
      <td>1.0</td>
      <td>26</td>
      <td>NaN</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>65826</th>
      <td>NaN</td>
      <td>26</td>
      <td>0.230769</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21487</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.230769</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>66051</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.025641</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>51785</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.076923</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>73035</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.333333</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>48958</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.487179</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4014</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.076923</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>48230</th>
      <td>1.0</td>
      <td>10</td>
      <td>0.743590</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>47051</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.179487</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>34590</th>
      <td>1.0</td>
      <td>10</td>
      <td>0.230769</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>56952</th>
      <td>1.0</td>
      <td>26</td>
      <td>1.000000</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>890</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.230769</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16027</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.230769</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4101</th>
      <td>1.0</td>
      <td>29</td>
      <td>0.589744</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22367</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.487179</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23122</th>
      <td>1.0</td>
      <td>26</td>
      <td>0.025641</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
kf = KnnFiller(5, dist_fn1)
kf.fit(df, df.iloc[:,5])

In [ ]:
to_drop = data.columns[data.isnull().sum() > 20000]
dropped = data.drop(to_drop, axis=1)

In [28]:
# X = pd.DataFrame({'A': [0, 1, 4, 5, 0 ,1, 0], 'B': [0, 3, np.NaN, np.NaN, 1, 2, np.NaN], 'C': [0, 2, 3, np.NaN, 1, 3,np.NaN]})
X = pd.DataFrame({
    'A': [0, 1, 4, 5, 0 ,1, 0],
    'B': [0, 3, np.NaN, np.NaN, 1, 2, 0],
    'C': [0, 2, 3, 0, 1, 3, 0],
    'B_nan': [False, False, True, True, False, False, True],
    'C_nan': [True, True, True, False, False, False, True]
})
X2 = pd.DataFrame({
    'A': [0, 1, 2, 3, 4 ,5, 6, 7, 8],
    'B': [1, 3, 0, 0, 9, 11, 13, 15, 17],
    'C': [0, 0, 0, 6, 8, 10, 0, 14, 16],
    'B_nan': [False, False, True, True, False, False, True, False, True],
    'C_nan': [True, True, True, False, False, False, True, False, False]
})
with_nan = X[X[['B']].isnull().any(axis=1) |  (X['B'] < 1)]

In [7]:
# X.loc[X['B'].isnull(), 'B'] = with_nan['A'].map(a['Ht'])
X

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>B_nan</th>
      <th>C</th>
      <th>C_nan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.0</td>
      <td>False</td>
      <td>0</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>3.0</td>
      <td>False</td>
      <td>2</td>
      <td>True</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>NaN</td>
      <td>True</td>
      <td>3</td>
      <td>True</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>NaN</td>
      <td>True</td>
      <td>0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>1.0</td>
      <td>False</td>
      <td>1</td>
      <td>False</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>2.0</td>
      <td>False</td>
      <td>3</td>
      <td>False</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0.0</td>
      <td>True</td>
      <td>0</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
</div>

In [201]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np


class HotDeckImputer(BaseEstimator, TransformerMixin):
    def __init__(self, columns, k=8):
        self.columns = columns
        self.k = k

    def fit(self, X, y=None, **fit_params):
        self.clusterer = KMeans(n_clusters=self.k)
        without_na = X.dropna(axis=0)

        # fit KMeans to other columns
        without_target_cols = without_na.drop(self.columns, axis=1)
        self.clusterer.fit(without_target_cols)

        just_target_cols = without_na[self.columns]
        # get mean of specified attributes per each cluster
        just_target_cols['cluster'] = self.clusterer.predict(without_target_cols)
        self.values_per_cluster = just_target_cols.groupby('cluster').apply(np.mean)
        return self

    def transform(self, X):
        rows_with_nan = X[X[self.columns].isnull().any(axis=1)]
        without_target_cols = rows_with_nan.drop(self.columns, axis=1)
        rows_with_nan['cluster'] = self.clusterer.predict(without_target_cols)
        for col in self.columns:

In [30]:
from sklearn.linear_model import LinearRegression

regr = ModelBasedImputer(['B', 'C'], model=LinearRegression())
regr.fit(X2)

Pipeline(memory=None,
     steps=[('B_imputer', ModelBasedColImputer(column='B',
           model=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False))), ('C_imputer', ModelBasedColImputer(column='C',
           model=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)))])

In [31]:
regr.transform(X2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>B_nan</th>
      <th>C</th>
      <th>C_nan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1.0</td>
      <td>False</td>
      <td>-3.885781e-15</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>3.0</td>
      <td>False</td>
      <td>2.000000e+00</td>
      <td>True</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>5.0</td>
      <td>True</td>
      <td>4.000000e+00</td>
      <td>True</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>7.0</td>
      <td>True</td>
      <td>6.000000e+00</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>9.0</td>
      <td>False</td>
      <td>8.000000e+00</td>
      <td>False</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>11.0</td>
      <td>False</td>
      <td>1.000000e+01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>13.0</td>
      <td>True</td>
      <td>1.200000e+01</td>
      <td>True</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>15.0</td>
      <td>False</td>
      <td>1.400000e+01</td>
      <td>False</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>17.0</td>
      <td>True</td>
      <td>1.600000e+01</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso

from transformers.one_hot_encoder import CustomOneHotEncoder

onehot = CustomOneHotEncoder(columns=categorical)
df = onehot.fit_transform(data).fillna(0).drop('Response', axis=1)
selector = SelectFromModel(Lasso())

In [12]:
selector.fit(df, labels)

SelectFromModel(estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
        norm_order=1, prefit=False, threshold=None)

In [ ]:
selector.transform(df).shape

(10000, 4)